<a href="https://colab.research.google.com/github/rakshitaggarwal/Python-assignment-1/blob/main/python_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14].

(i) WAP to add 50 and 60 to L.

In [19]:
L=[11,12,13,14]
print(L)
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14]
[11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13from L.

In [21]:
L= [11, 12, 13, 14]
print(len(L))
del L[0]
del L[1]
print(L)

4
[12, 14]

(iii) WAP to sort L in ascending order

In [22]:
L= [11, 12, 13, 14]
(L.sort())
print(L)

[11, 12, 13, 14]

(iv) WAP to sort L in descending order.

In [23]:
L= [11, 12, 13, 14]
L.sort(reverse=True)
print(L)

[14, 13, 12, 11]

(v) WAP to search for 13 in L.

In [30]:
L= [11, 12, 13, 14]
for n in range(4):
  try:
   if(L[n]==13):
    print(n)
  except:
   print("element not found")

2

(vi) WAP to count the number of elements present in L

In [31]:
L=[11,12,13,14]
print(len(L))

4

(vii) WAP to sum all the elements in L

In [32]:
L= [11, 12, 13, 14]
sum=0
for n in L:
  sum=sum+n
print(sum)

50

(viii) WAP to sum all ODD numbers in L

In [33]:
L= [11, 12, 13, 14]
sum=0
for n in L:
  if(n%2!=0):
    sum=sum+n
print(sum)

24

(ix) WAP to sum all EVEN numbers in L.

In [35]:
L= [11, 12, 13, 14]
sum=0
for n in L:
  if(n%2==0):
    sum=sum+n
print(sum)

26

(xi) WAP to clear all the elements in L.

In [34]:
L= [11, 12, 13, 14]
L.clear()
print(L)

[]

(xii) WAP to delete L

In [36]:
L= [11, 12, 13, 14]
del L

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

(i) WAP to add new entry in D; key=8 and value is 8.8

In [37]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2

In [38]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii) WAP to check weather 6 key is present in D.

In [39]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(6 in D)

False

(iv) WAP to count the number of elements present in D.

In [55]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
count=0
for n in range(len(D)):
  count=count+1
print(count)

5

(v) WAP to add all the values present D.

In [41]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
sum=0
for n in D:
  sum=sum+D[n]
print(sum)

36.4

(vi) WAP to update the value of 3 to 7.1.

In [43]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3]=7.1
print(D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii) WAP to clear the dictionary.

In [44]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
dict.clear(D)
print(D)

{}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60]. S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1

In [45]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S1.add(55)
S1.add(66)
print(S1)

{66, 40, 10, 50, 20, 55, 60, 30}

(ii) WAP to remove 10 and 30 from Set S1

In [46]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S1.remove(30)
S1.remove(10)
print(S1)

{40, 50, 20, 60}

(iii) WAP to check whether 40 is present in S1

In [48]:
S1= set([10, 20, 30, 40, 50, 60])
print(40 in S1)

True

(iv) WAP to find the union between S1 and S2

In [49]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])

S3=S1.union(S2)
print(S3)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

(v) WAP to find the intersection between S1 and S2

In [50]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S3=S1.intersection(S2)
print(S3)

{40, 50, 60}

(vi) WAP to find the S1 - S2

In [51]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])
S3=S1.difference(S2)
print(S3)

{10, 20, 30}

Q4. Write the following program.

(i) WAP to print 100 random strings whose length between 6 and 8

In [52]:
import random as r
import string as s
for n in range(1,101,1):
  length=r.randint(6,8)
  (s.ascii_letters)
  pss=r.sample(s.ascii_letters,length)
  new_pss="".join(pss)
  print(new_pss)

FzTfpUOB
JoqYkbT
EsDXag
LatnTj
tNKXmd
CpQKUXN
ZLphxFJ
ELxXKerC
BiDGhT
siekHOKT
FQucJI
JygZSR
jiOQBPAN
yFBYQNHg
xKUTNq
uEOLlF
dgyhoc
WcKfEyd
JjSoRzhD
GEejPsR
fxLKaMbB
SatxdIT
obLORzmZ
KqrLpPxZ
KIPBMNds
GglRxEbI
SyjHuLn
WvJjDkza
DWpBMj
SlEqVPJO
ekwxCPs
pbJmyjqX
pcLsCegr
NYuOICE
dxhQeZw
gaAMuhj
wvLlPxO
HMNmnRzT
GHAwrMR
jdoSZcub
wLmAUC
KzqLeFJu
aievugQd
bSDJkB
BlJncz
JuaVlOq
SHEYvU
riCLVF
VgObAI
PmFbKqk
vrVHOQn
wYpCGEgX
DGRsZFnz
tymBMdQ
eWiVFapc
SuxosE
RdsiqoK
GFpTxrL
XPIOAsE
SkRApco
lGJTzDSd
GStTQR
rmvaGoS
ESHIzB
eZXqkC
SPOdFr
pHxqsEtA
GhFBjrCS
dgQkzoVq
CnBljec
PfdMEY
XjNoYEC
tWLRPKzh
xbNnsJh
MXnJtlsv
LqPyAhF
dOifSM
oaEwbfnl
muCDeP
pTYrXgiK
SheZGfs
ksgOoM
fMHjOLyr
mTluobNp
SvFqrgOP
jwouKpA
thBHLebl
bTXZPC
libuXa
LCSRtE
zTgXSyd
olmIvjbe
dInPNWuL
VkoSFzqT
gJbOYZH
QgdwulVc
lJykVEeD
UpeCjJ
pwvHZA
tLsmef

(ii) WAP to print all prime numbers between 600 and 800

In [1]:
def prime(number):
    if number < 2:
        return False
    for i in range(2, int(number//2) + 1):
        if number % i == 0:
            return False
    return True

for num in range(600, 801):
    if prime(num):
        print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9

In [53]:
for n in range(100,1000):
  if(n%7==0 and n%9==0):
    print(n)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find

(i) Common numbers in the two lists

In [3]:
import random as r 
A=r.sample(range(10,31),10)
B=r.sample(range(10,31),10)
for n in A:
  for m in B:
    if(n==m):
     print(n)

27
30
28
25
12

(ii) Unique numbers in both the list

In [5]:
import random as r 
A=r.sample(range(10,31),10)
B=r.sample(range(10,31),10)
for n in A:
  for m in B :
    if(n!=m):
      print(n)
      break

25
10
13
11
27
15
29
18
12
21

(iii) Minimum in both the list

In [7]:
import random as r 
A=r.sample(range(10,31),10)
B=r.sample(range(10,31),10)
print(min(A))
print(min(B))

12
10

(iv) Maximum in both the list

In [8]:
import random as r 
A=r.sample(range(10,31),10)
B=r.sample(range(10,31),10)
print(max(A))
print(max(B))

30
28

(v) Sum of both the lists

In [10]:
import random as r 
A=r.sample(range(10,31),10)
B=r.sample(range(10,31),10)
C=A+B
print(C)

[20, 25, 27, 28, 18, 24, 13, 17, 16, 29, 26, 21, 22, 16, 17, 15, 10, 29, 25, 19]

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

(i) All odd numbers

In [5]:
import random as r 
A=r.sample(range(100,901),100)
print(A)
sum_odd=0
for n in A:
  if(n%2!=0):
    sum_odd=sum_odd+n
print(sum_odd)
count_odd=0
for n in A:
  if(n%2!=0):
    count_odd=count_odd+1
print(count_odd)

[763, 644, 456, 141, 304, 822, 484, 570, 472, 550, 211, 410, 130, 821, 663, 623, 440, 773, 480, 596, 330, 195, 335, 438, 332, 119, 430, 798, 563, 672, 139, 785, 241, 247, 597, 242, 236, 399, 753, 741, 718, 817, 872, 797, 833, 652, 316, 121, 229, 221, 755, 451, 460, 502, 617, 720, 556, 802, 272, 174, 795, 526, 722, 627, 268, 224, 575, 897, 624, 469, 369, 825, 600, 383, 815, 371, 640, 435, 102, 829, 409, 757, 450, 794, 717, 445, 468, 188, 239, 452, 579, 740, 415, 233, 636, 282, 609, 561, 345, 271]
26920
52

(ii) All even numbers

In [9]:
import random as r 
A=r.sample(range(100,901),100)
print(A)
sum_even=0
for n in  A:
  if(n%2==0):
    sum_even=sum_even+n
print(sum_even)
count_even=0
for n in A:
  if(n%2==0):
    count_even=count_even+1
print(count_even)

[328, 404, 383, 251, 177, 195, 262, 427, 881, 456, 564, 636, 895, 353, 669, 228, 859, 422, 648, 301, 118, 704, 166, 245, 107, 690, 363, 288, 671, 731, 789, 718, 204, 184, 611, 767, 199, 160, 873, 593, 765, 780, 736, 790, 223, 677, 376, 521, 566, 108, 128, 741, 434, 787, 642, 855, 874, 838, 381, 559, 607, 415, 483, 441, 857, 728, 244, 627, 766, 334, 499, 609, 488, 645, 315, 885, 900, 632, 382, 678, 820, 389, 154, 557, 729, 336, 656, 738, 147, 756, 459, 582, 890, 289, 817, 458, 694, 451, 113, 449]
24688
48

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.
 
Key1, Value1

Key2, Value2

Key3, Value3

In [21]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
fp=open('file.txt','w')
for n in D :
  fp.write(str(n)+","+str(D[n])+"\n")
fp.close()

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:

One, 3

Two, 3

Four, 4

In [16]:
 L={"One","Two","Three","Four","Five"}
 fp=open("file3.txt","w")

 for n in L:
  length=len(n)
  fp.write(n+","+str(length)+"\n")
 
 fp.close()

Q9. Write to the file 100 random strings whose length between 10 and 15.

In [19]:
import random as r 
import string as s
fp=open('string.txt','w')
for i in range(1,101):
 string="".join(r.sample(s.ascii_letters,r.randint(10,16)))
 fp.write(string+"\n")
fp.close()

Q10. Write to the file all prime numbers between 600 and 800.

In [21]:
fp=open('test.txt','w')
for n in range(600,801):
  f=0
  for i in range(2,int(n-1)):
    if n%i==0:
      f=1
      break
  if f==0:
    fp.write(str(n)+"\n")
fp.close()

Q11. WAP to calculate the time taken by a program.

In [22]:
import time

start_time = time.time()

total = 0
for i in range(10):
    total += i

end_time = time.time()

total_time = end_time - start_time

print("Time taken:", total_time, "seconds")

Time taken: 0.00012183189392089844 seconds

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.

Number of elements in list Time Taken

5k T1

10k T2

15k T3

20k T4

25k T5

In [23]:
import time

start_time = time.time()

L = [25000,15000,20000,5000,10000]

sorted_list = sorted(L)


end_time = time.time()

total_time = end_time - start_time

print("Sorted list:", sorted_list)
print("Time taken:", total_time, "seconds")

Sorted list: [5000, 10000, 15000, 20000, 25000]
Time taken: 0.00012159347534179688 seconds

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
 having maximum and minimum average marks.

In [24]:
student_marks = {
    "Rakshit": [90, 100, 92, 80, 97],
    "Tanish": [100, 89, 89, 89, 88],
    "Bhavya": [92, 90, 85, 88, 92],
    "Yash": [75, 80, 76, 82, 70],
    "Akshat": [85, 88, 90, 92, 87]
}

# Calculate average marks for each student
average_marks = {}
for student, marks in student_marks.items():
    total_marks = sum(marks)
    number_of_subjects = len(marks)
    average_marks[student] = total_marks / number_of_subjects

# Find student with maximum and minimum average marks
max_student = max(average_marks, key=average_marks.get)
min_student = min(average_marks, key=average_marks.get)
max_student_marks = max(average_marks["Rakshit"], average_marks["Tanish"], average_marks["Bhavya"], average_marks["Yash"], average_marks["Akshat"])
min_student_marks = min(average_marks["Rakshit"], average_marks["Tanish"], average_marks["Bhavya"], average_marks["Yash"], average_marks["Akshat"])

# Print the results
print("Student with maximum average marks:", max_student, "with marks:", max_student_marks)
print("Student with minimum average marks:", min_student, "with marks:", min_student_marks)

Student with maximum average marks: Rakshit with marks: 91.8
Student with minimum average marks: Yash with marks: 76.6